{{>navbar}}

<div class="container my-3">
    <h1 class="mt-3" style="font-size:4 em">{{game.title}}</h1>
    <div class="row justify-content-between">
        <div class="col-9">
            <div class="my-3">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      </div>
                    <div class="carousel-inner rounded-4">
                        {{#each game.screenshots as |carrousel|}}
                            <div class="carousel-item active">
                                <img src="{{carrousel.image}}" class="d-block w-100" alt="...">
                            </div>
                        {{/each}}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="my-3">
                <h4>{{game.short_description}}</h4>
            </div>
            
            <div class="row justify-content-start my-3">
                <div class="col-4">
                    <h5>Genre: {{game.genre}}</h5>
                    <h5>Release date: {{game.release_date}}</h5>
                </div>
                <div class="col-4">
                    <h5>Publisher: {{game.publisher}}</h5>
                    <h5>Developer: {{game.developer}}</h5>
                </div>
            </div>
            
            <h3 class="my-3">Description:</h3>
            <div style="background-color:#1a1a1a; padding: 30px" class="rounded-3 my-3">
                {{{game.description}}}
            </div>

            <h3 class="my-3">System requirements:</h3>
            <div style="background-color:#1a1a1a; padding: 30px" class="rounded-3 my-3">
                <h5>System version: <br> {{game.minimum_system_requirements.os}}</h5>
                <h5>CPU: <br> {{game.minimum_system_requirements.processor}}</h5>
                <h5>Memory: <br>{{game.minimum_system_requirements.memory}}</h5>
                <h5>GPU: <br>{{game.minimum_system_requirements.graphics}}</h5>
                <h5>Storage:<br>{{game.minimum_system_requirements.storage}}</h5>
            </div>
        </div>
        <div class="col-3 my-3">
            <img class="rounded-4" src="{{game.thumbnail}}" style="width: 100%"/>
            <form action="/game/{{game._id}}" method="POST">
                <button type="submit" style="width: 100%" name="addGame" class="btn btn-primary my-3">Add to your games</button>
            </form>
            <button type="button" style="width: 100%" class="btn btn-secondary mb-3">See in origin</button>

            <a type="button" href="/game/{{game._id}}/create-channel" style="width: 100%" class="btn btn-secondary mb-3">Create new channel</a>
        </div>
    </div>
</div>
