{{>navbar}}

<form class="container my-3" id="myForm" action="/edit/{{currentUser.id}}" method="POST" enctype="multipart/form-data">
    <div class="container">
        <div class="my-5">
        <div class="d-flex mb-5">
            <div class="col-2">
                <div class="rounded-circle img__wrap">
                    <img id="preview" class="rounded-circle border border-2 object-fit-cover img__img" src="{{currentUser.image}}" alt="Image preview" width="200" height="200"/>
                    <div class="img__description_layer rounded-circle">
                        <label class="input-group-text" for="inputGroupFile01" style="border: 0px;" type="button"><p class="img__description position-absolute top-50 start-50 translate-middle" >Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></p></label>
                        <input type="file" name="image" value="{{currentUser.image}}" class="form-control invisible" type="file" id="inputGroupFile01" accept="image/*">
                    </div>
                </div>
            </div>
            <div class="col-10">
                <div class="container mx-5">
                    <div class="bottom-line">
                        <div class="form mb-3">
                            <input type="text" name="username" value="{{currentUser.username}}" class="form-control form-control-lg{{#if errors.username}} is-invalid {{/if}}" id="floatingInput" placeholder="Username">
                            {{#if errors.username}}<div class="invalid-feedback">{{errors.username}}</div>{{/if}}
                        </div>
                        <div class="form my-4">
                            <textarea type="text" name="description" class="form-control" value="{{currentUser.description}}" placeholder="Description... {{currentUser.description}}" ></textarea>
                        </div>
                    </div>
                    
                    <div class="row g-3 mt-2 mb-3">
                        <div class="col form">
                            <input type="text" name="name" class="form-control form-control-lg" value="{{user.name}}" id="floatingInput" placeholder="Name" >
                        </div>
                        <div class="col form">
                            <input type="text" name="lastName" class="form-control form-control-lg" value="{{user.lastName}}" id="floatingInput" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form mb-3">
                        <input type="date" class="form-control form-control-lg" value="{{currentUser.birthDate}}" placeholder="Your phone number" name="birthDate">
                    </div>
                    <div class="form mb-3">
                        <input type="number" name="phone" class="form-control form-control-lg" value="{{currentUser.phone}}" id="floatingInput" placeholder="Your phone number">
                    </div>

                    <div class="form mb-3">
                        <input type="email" name="email" value="{{currentUser.email}}" class="form-control form-control-lg {{#if errors.email}} is-invalid {{/if}}" id="floatingInput" placeholder="name@example.com">
                        {{#if errors.email}}<div class="invalid-feedback">{{errors.email}}</div>{{/if}}
                    </div>

                    <div class="form mb-3">
                        <input type="password" name="password" class="form-control form-control-lg {{#if errors.password}} is-invalid {{/if}}" id="floatingPassword" placeholder="Password">
                        {{#if errors.password}}<div class="invalid-feedback">{{errors.password}}</div>{{/if}}
                    </div>
                    <div class="bottom-line">
                        <button type="submit" class="btn btn-primary w-100 upper mb-4" >Done</button>
                    </div>
                    <div>
                        <a class="btn btn-outline-danger w-100 upper mt-4" data-bs-toggle="modal" data-bs-target="#exampleModal" >Delete profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete profile</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3 bottom-line">
                <p class="mb-3">Are you sure you want to delete your account and all your info permanently?</p>
            </div>
            <div class="d-flex justify-content-between gap-2">
                <a class="btn btn-primary-card w-50" data-bs-toggle="collapse" href="#collapseDelete" role="button" aria-expanded="false" aria-controls="collapseDelete">
                    NO
                </a>
                <form action="/delete/{{currentUser.id}}" method="POST" class="w-50">
                    <button type="submit" class="btn btn-danger-card w-100">YES</button> 
                </form>
            </div>
        </div>
    </div>
</div>
    