{{>navbar}}

<div class="container my-3">
    <h2>Now, please add some channels based on the games you already added:</h2>
    <div class="d-flex justify-content-between mt-4">
        <div class="col-6">
            <input class="form-control bg-search rounded-pill" placeholder="Search" style="padding-left:30px" id="searchInput" type="text">
        </div>
        <div class="col-3 d-flex justify-content-end">
            <form action="/profile" method="GET" style="width:50%">
                <button type="submit" class="btn btn-primary w-100 upper">Finish</button>
            </form>
        </div>
    </div>
    
    <div class="my-3">
        <div class="row justify-content-around">
            {{#each channels as |channel|}}
                <div class="col-5 game-results mb-4">
                    <div class="my-3">
                        <div class="mb-3">
                            <div style="width:465px; height: 306px">
                                <a style="width:465px; height: 306px" class="object-fit-cover position-relative img__wrap" >
                                    <img id="preview" src="{{channel.image}}" style="width:465px; height: 306px" class="games-list-img object-fit-cover img__img" alt="...">
                                    {{#if this.alreadyAdded}}
                                        <form action="/channels/{{_id}}/deleteChannelForm" method="POST">
                                            <button type="submit" name="deleteGame" class="add-delete-btn btn btn-outline-light-card position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle p-2" data-bs-toggle="tooltip" data-bs-title="Delete from your games" data-bs-placement="bottom"><i class="fa-solid fa-xmark"></i></button>
                                        </form> 
                                    {{else}}
                                        <form action="/channels/{{_id}}/addChannelForm" method="POST">
                                            <button type="submit" name="addGame" class=" add-delete-btn btn btn-primary-card position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle p-2" data-bs-toggle="tooltip" data-bs-title="Add to you games" data-bs-placement="bottom"><i class="fa-solid fa-plus"></i></button>
                                        </form>
                                    {{/if}}
                                </a>
                            </div>
                            <div class="text-truncate-container" style="padding-right:10%">
                                <h5 class="mt-3">{{channel.name}}</h5>
                                <p><small>{{channel.game.title}}</small></p>
                                <p class="text-card">{{channel.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>

{{>footer}}