{{>navbar}}

<div class="container my-3">
    <h2>Before we continue, add some games to your profile:</h2>
    <div class="d-flex justify-content-between mt-4">
        <div class="col-6">
            <input class="form-control bg-search rounded-pill" placeholder="Search" style="padding-left:30px" id="searchInput" type="text">
        </div>
        <div class="col-3 d-flex gap-3 justify-content-end">
            <button style="width:50%" class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Filters</button>
            <form action="/signup-channels" method="GET" style="width:50%">
                <button type="submit" class="btn btn-primary w-100 upper" >Next</button>
            </form>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasRightLabel">Filters</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        <p>Here you have some filters and order methods to make your experience more confortable 😊</p>
                    </div>
                    <div class="mt-3">
                        <h5>Filter by genre</h5>
                        <div class="d-flex gap-5">
                            <div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Shooter
                                    </label>
                                </div>

                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Battle Royale
                                    </label>
                                </div>
                                    
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Strategy
                                    </label>
                                </div>

                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="flexCheckDefault">
                                    </label><label class="form-check-label" for="flexCheckDefault">
                                        MMO
                                    </label>
                                </div>

                                <div class="form-check mb-2">    
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        MOBA
                                    </label>
                                </div>

                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        MMORPG
                                    </label>
                                </div>

                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        MMOARPG
                                    </label>
                                </div>
                            </div>
                            <div class="filters">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        MMOFPS
                                    </label>
                                </div>

                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Action
                                    </label>
                                </div>

                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Action RPG
                                    </label>
                                </div>

                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Card Game
                                    </label>
                                </div>

                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Racing
                                    </label>
                                </div>

                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Sports
                                    </label>
                                </div>

                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Fighting
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-body">
    <div class="container my-3">
        <div class="row justify-content-around">
            {{#each games}}
                <div class="col-4 game-results mb-4" data-genre="{{genre}}">
                    <div class="my-3">
                        <div class="mb-3">
                            <div>
                                <a href="/games/{{_id}}" class="object-fit-cover position-relative img__wrap" type="button">
                                    <img id="preview" src="{{thumbnail}}"  class="games-list-img object-fit-cover img__img" alt="...">
                                    <div class="img__hover_layer">
                                        <label class="input-group-text" for="inputGroupFile01" style="border: 0px;" type="button"><p class="img__description position-absolute top-50 start-50 translate-middle" ></p></label>
                                        <input type="file" name="image" value="{{currentUser.image}}" class="form-control invisible" type="file" id="inputGroupFile01" accept="image/*">
                                    </div>
                                    {{#if this.alreadyAdded}}
                                    <form action="/games/{{_id}}/deleteGameForm" method="POST">
                                        <button type="submit" name="deleteGame" class="add-delete-btn btn btn-outline-light-card position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle p-2" data-bs-toggle="tooltip" data-bs-title="Delete from your games" data-bs-placement="bottom"><i class="fa-solid fa-xmark"></i></button>
                                    </form> 
                                {{else}}
                                    <form action="/games/{{_id}}/addGameForm" method="POST">
                                        <button type="submit" name="addGame" class=" add-delete-btn btn btn-primary-card position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle p-2" data-bs-toggle="tooltip" data-bs-title="Add to you games" data-bs-placement="bottom"><i class="fa-solid fa-plus"></i></button>
                                    </form>
                                {{/if}}
                                </a>
                            </div>
                            <div class="text-truncate-container" style="padding-right:10%">
                                <h5 class="mt-3">{{title}}</h5>
                                <p class="text-card">{{short_description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>

{{>footer}}