{{>navbar}}

<div style="background-color:#262626; padding: 30px; width:20%" class="rounded-2 my-3 position-absolute top-50 start-50 translate-middle justify-content-center">

    <div class="container my-4" style="text-align:center">
        <h1>Sign up</h1>
    </div>
    <div class="mt-5 mb-3">
        <form class="container" action="/signup" method="POST" enctype="multipart/form-data">
            <div class="form mb-3">
                <input type="text" name="username" value="{{userToCreate.username}}" class="form-control form-control-lg {{#if errors.username}} is-invalid {{/if}}" id="floatingInput" placeholder="Username">
                {{#if errors.username}}<div class="invalid-feedback">{{errors.username}}</div>{{/if}}
            </div>
            <div class="form mb-3">
                <input type="email" name="email" value="{{userToCreate.email}}" class="form-control form-control-lg {{#if errors.email}} is-invalid {{/if}}" id="floatingInput" placeholder="Email">
                {{#if errors.email}}<div class="invalid-feedback">{{errors.email}}</div>{{/if}}
            </div>
            <div class="form mb-3">
                <input type="password" name="password" class="form-control form-control-lg {{#if errors.password}} is-invalid {{/if}}" id="floatingPassword" placeholder="Password">
                {{#if errors.password}}<div class="invalid-feedback">{{errors.password}}</div>{{/if}}
            </div>
            <div class="input-group">
                <label class="input-group-text btn btn-outline-light w-100" style="border-radius: 6px; text-color:#f5f5f5" for="inputGroupFile01"><p style="margin-bottom:0">Upload a profile image</p></label>
                <input type="file" name="image" value="{{userToCreate.image}}" class="form-control invisible" type="file" id="inputGroupFile01" accept="image/*">
            </div>
            
            <button type="submit" class="btn btn-primary w-100 upper mt-1">Create my profile</button>

        </form>
    </div>
</div>

<div class="position-absolute w-100 sticky-bottom">
    {{>footer}}
</div>